<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Postmastr</name>
    <description>
        OCR mail label scanner
    </description>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <access origin="*" />
    <access origin="http://165.227.77.151:3000/user/signIn" />
    <allow-navigation href="*"/>
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/Icon-ldpi.png" density="ldpi" />
        <icon src="res/Icon-mdpi.png" density="mdpi" />
        <icon src="res/Icon-hdpi.png" density="hdpi" />
        <icon src="res/Icon-xhdpi.png" density="xhdpi" />
        <icon src="res/Icon-xxhdpi.png" density="xxhdpi" />
        <icon src="res/Icon-xxxhdpi.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <icon src="res/Icon-60@3x.png" width="180" height="180" />
        <icon src="res/Icon-60.png" width="60" height="60" />
        <icon src="res/Icon-60@2x.png" width="120" height="120" />
        <icon src="res/Icon-76.png" width="76" height="76" />
        <icon src="res/Icon-76@2x.png" width="152" height="152" />
        <icon src="res/Icon-Small-40.png" width="40" height="40" />
        <icon src="res/Icon-Small-40@2x.png" width="80" height="80" />
        <icon src="res/Icon.png" width="57" height="57" />
        <icon src="res/Icon@2x.png" width="114" height="114" />
        <icon src="res/Icon-72.png" width="72" height="72" />
        <icon src="res/Icon-72@2x.png" width="144" height="144" />
        <icon src="res/Icon-83.5@2x.png" width="167" height="167" />
        <icon src="res/Icon-small.png" width="29" height="29" />
        <icon src="res/Icon-small@2x.png" width="58" height="58" />
        <icon src="res/Icon-small@3x.png" width="87" height="87" />
        <icon src="res/Icon-Small-50.png" width="50" height="50" />
        <icon src="res/Icon-Small-50@2x.png" width="100" height="100" />
        <icon src="res/Icon-83.5@2x.png" width="167" height="167" />
        <icon src="res/iTunesArtwork@2x" width="1024" height="1024" />
    </platform>
    <edit-config target="NSCameraUsageDescription" file="*-Info.plist" mode="merge">
    <string>Need camera access to capture pictures</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryUsageDescription" file="*-Info.plist" mode="merge">
    <string>Need photo library access to retrieve pictures</string>
    </edit-config>
    <edit-config target="NSLocationWhenInUseUsageDescription" file="*-Info.plist" mode="merge">
    <string>Need location access to find things nearby</string>
    </edit-config>
    <edit-config target="NSPhotoLibraryAddUsageDescription" file="*-Info.plist" mode="merge">
    <string>Need photo library access to save pictures</string>
    </edit-config>

</widget>
