.package-info {
  border-bottom: 0.5px solid black;
  display: grid;
  grid-template-columns: auto auto;
}

.package-info:nth-child(1) {
  border-top: 0.5px solid black;
}

.package-info p {
  color: black;
}

.scannedPackages p {
  color: black;
}

.loader {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 25px;
  height: 25px;
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
